$bg-color: #fff;
$bg-color2: #ccc;
$bg-color3: #bbb;
$bg-color4: #808080;
$text-color: #000;
$border-color: #049E9E;
$border-color2: #94B3B3;
$nav-link-color: #6E9898;
$nav-link-color2: #16AB68;
$text-color: #F11764;#3AE0A8

html {
    margin: 0;
    background-color: $bg-color;

    body {
        margin: 0;
    }
}

.site-header {
    background-color: $bg-color3;
    a {
        text-decoration: none;
        color: $nav-link-color;
    }

    h1 {
        margin: 0;
        border-bottom: $border-color2 solid 1.9px;
        padding-left: 50px;
    }
}

.main-nav {
    margin: 0;
    width: 100%;
    height: 65px;
    background-color: $bg-color2;
    border-bottom: $border-color solid 1.9px;

    .left-nav {
        float: left;
        padding-left: 50px;
    }

    .right-nav {
        float: right;
        padding-right: 50px;
    }

    ul {
        list-style: none;
        display: inline;
        li {
            display: inline;
            text-size: 11px;
            a {
                color: $nav-link-color2;
            }
        }
        li + li {
            padding-left: 40px;
        }
    }
}

.site-content {
    height: 600px;
    width: 80%;
    margin: 0 auto;
    background-color: $bg-color4;
    border: $border-color solid 1.9px;

    p {
        margin: 0;
    }
}

.site-footer {
    display: block;
    background-color: #bbb;
    height: 50px;
    border-top: $border-color2 solid 1.9px;
    border-bottom: $border-color solid 1.9px;

    .footer-content {
        display: block;
        background-color: $bg-color2;
        height: 250px;
        border-bottom: $border-color solid 1.9px;
    }
}

.site {
}
