<!doctype html>

<!-- a base template to build all our webpages customized to be used with jinja2 templating -->

<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- If you delete this meta tag World War Z will become a reality -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> </title>
    {%- block head %}
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='css/main.css') }}">
    {%- endblock head %}
    <link href="favicon.ico" rel="shortcut icon">
</head>

<body>

    <header class="site-header">
        <a href="{{url_for('home_page')}}"><h1> kitso namane </h1></a>
        <nav class="main-nav">
            <ul class="left-nav">
                <li><a href="{{url_for('home_page')}}">HOME</a></li>
                    <li><a href="#">CAREER</a></li>
                    <li><a href="#">STUDIO</a></li>
                </ul>
                <ul class="right-nav">
                    <li><a href="{{url_for('play')}}">PLAY</a></li>
                    <li><a href="#">SIGNIN</a></li>
                    <li><a href="#">LOGIN</a></li>
                </ul>
            {% block nav_bar %}
            {% endblock nav_bar %}
        </nav>
        {% block header %}
        {% endblock header %}
    </header>

    <main class="site-content">
        {% block content %}
            <!-- content for each page goes here -->
            <p>this is the base</p>
        {% endblock content %}
    </main>

    <footer class="site-footer">
        <div class="site-footer"></div>
        {% block footer %}
        <div class="footer-content"> &copy; 2016 </div>
        {% endblock footer %}
    </footer>

</body>
</html>
