<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> kitso.org </title>
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='favicon.ico')}}" rel="shortcut icon">
</head>
<body>
    {% block body %}
    <div id="content">
        <h1>hello this is your homepage</h1>
        <p>click <a href="{{url_for('play')}}">here</a> to play</p>
    </div>
    {% endblock %}
</body>
</html>
