{% extends "home.html" %}
{% block body %}
    <div id="content">
        <h2>{{scene.name}}</h2>

        <pre>{{scene.description}}</pre>
        {% if scene.name == "game over" %}
            <p><a href="{{ url_for('home_page')}}">play again</a></p>
        {% else %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <p>
                <form action="/play" method="POST">
                    <input type="text" name="action"> <input type="submit" value="action">
                </form>
            </p>
        {% endif %}
    </div>
{% endblock %}
</html>
